.customer-modal {
	position: fixed;
	z-index: 15;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.customer-modal-content {
	background-color: #fff;
	width: 850px;
	height: 650px;
	padding: 25px;
	font-size: 15px;
	// box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
	// 	0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/****** HEADER ******/

.customer-modal-header {
	display: flex;
	justify-content: space-between;
	align-items: start;

	.customer-modal-title {
		font-weight: 600;
		color: #000000;
		font-size: 20px;
		margin-bottom: 15px;
	}

	.customer-modal-close-btn {
		color: #999;
		font-size: 20px;
		cursor: pointer;
	}
}

/****** CONTENT ******/

.customer-modal-body {
	margin-bottom: 25px;
}

.customer-modal-infos {
	display: flex;
	justify-content: space-between;

	.customer-infos-left-block {
		margin-right: 10px;
	}

	.customer-infos-right-block {
		margin-left: 10px;
	}
	.line {
		display: flex;
	}
}
.customer-modal-other-infos {
	margin-top: 30px;

	.customer-other-infos-header {
		.navigation {
			display: flex;

			li {
				margin-right: 2px;
				padding: 3px 6px;
				border: 1px solid #babec5;
				box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
				border-bottom: none;
				border-radius: 2px 2px 0 0;
				background-color: #efefef;
				transition-property: background-color, border;
				transition-duration: 0.35s;
				color: #494949;
				cursor: pointer;

				&.active {
					background-color: #cfe5fa;
					color: #000;
				}
			}
		}
	}

	.customer-other-infos-content {
		border: 1px solid #babec5;
		height: 220px;
		padding: 8px;

		h2 {
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 6px;
		}

		.adresse-facturation {
			width: 50%;
		}
	}
}

/******* FOOTER ******/
.customer-modal-footer {
	border-top: 1px solid #babec5;

	.footer-inner {
		padding-top: 10px;
		display: flex;
		justify-content: space-between;
	}
}
