.customer-details-header-wrapper {
	height: 175px;
	padding: 15px 30px;
	background-color: #f4f5f8;

	.first-line {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& > * {
			display: inherit;
			align-items: center;
		}

		.page-title {
			margin-right: 20px;
		}

		.email-icon {
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		.right {
			button {
				margin-left: 10px;
			}
		}
	}

	.field-action-options {
		position: absolute;
		top: 70px;
		right: 20px;
		z-index: 4;
	}

	.second-line {
		display: flex;
		flex-direction: column;
		align-items: end;

		.top,
		.bottom {
			width: 150px;
			padding: 1px 15px;
			margin-bottom: 8px;

			.balance {
				font-size: 18px;
				color: #000;
				line-height: 0.85;
			}

			.subtitle {
				letter-spacing: 1px;
				color: #6e8ba8;
				text-transform: uppercase;
				font-size: 12px;
				margin-top: 4px;
				line-height: 0.8;
			}
		}

		.top {
			border-left: 5px solid #f2b835;
		}

		.bottom {
			border-left: 5px solid #ce5133;
		}
	}
}
