.stock-form-modal {
	padding: 12px;
}

.form-modal-header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #d4d7dc;
	padding-bottom: 15px;

	.form-modal-header-icon {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #0077c5 url('../../../../assets/images/png/stock_small.png')
			no-repeat;
		background-position: 13px;
	}

	.form-modal-header-title {
		margin-left: 15px;
		margin-right: 8px;
	}

	.switch-link {
		&:hover {
			text-decoration: underline;
		}
	}
}

.general-infos-wrapper {
	padding: 15px 0;
	border-bottom: 1px solid #d4d7dc;

	.general-infos {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.references {
			width: 350px;
		}

		.image {
			width: 120px;
			height: 120px;
			margin-right: 15px;
			border: 1px solid #000;
		}

		input[type='file'] {
			display: none;
		}
	}
}

.stock-quantity-wrapper {
	padding: 15px;

	h3,
	span {
		font-size: 14px;
	}

	span {
		color: #0077c5;
	}

	div {
		display: flex;
		justify-content: space-between;
		align-items: center;

		// &:first-child {
		//    width: ;
		// }

		div {
			display: flex;
			flex-direction: column;
			align-items: start;
		}
	}
}
