.customers-header-wrapper {
	height: 230px;
	padding: 24px 30px 0 20px;
	background-color: #f4f5f8;

	.stage-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.page-title {
			font-size: 24px;
			font-weight: 500;
			font-style: normal;
			color: #393a3d;
			padding-top: 5px;
		}

		.new-customer-btn-wrapper {
			display: flex;
			align-items: center;
			position: relative;
		}
	}
}
