.customer-details-content-data {
	padding: 25px;

	.header {
		display: flex;
		padding-top: 25px;
		border-bottom: 3px solid #e5e5e5;

		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 400;
			background-color: transparent;
			color: #6b6c72;
			padding-top: 15px;
			padding-bottom: 15px;
			cursor: pointer;

			&.active {
				border-bottom: 4px solid #2ca01c;
				font-weight: 600;
			}

			span {
				padding: 0 30px;

				&.left {
					border-right: 1px dotted #6b6c72;
				}
			}
		}
	}

	.content {
		.content-customer {
			.content-customer-header {
				display: flex;
				justify-content: right;
			}

			.content-customer-infos {
				display: flex;
				justify-content: space-between;
				font-size: 14px;

				.left-block,
				.right-block {
					width: 48%;
				}
				.right-block {
					margin-right: 12px;
				}

				.line {
					display: flex;
					align-items: center;
					padding: 15px 0;
					border-bottom: 1px solid #b9b9b9;

					strong {
						margin-right: 15px;
					}
				}
			}
		}
	}
}
