.input-fieldset {
	border: none;
	margin-bottom: 8px;
	padding: 0;

	label {
		color: #393a3d;
		line-height: 22px;
		padding-bottom: 1px;
		display: block;
		text-align: left;
		font-size: 13px;
		font-weight: bold;
	}
}
