.product-form-modal {
	padding: 12px;
	padding-bottom: 80px;
	overflow-y: scroll;
	height: 95vh;
	position: relative;

	.form-modal-header,
	.general-infos-block,
	.stock-quantity-block,
	.description-block {
		border-bottom: 1px solid #d4d7dc;
		padding: 15px 0;
	}

	.form-modal-header {
		display: flex;
		align-items: center;
		padding-top: 0;

		.form-modal-header-icon {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background: #0077c5 url('../../../../assets/images/png/stock_small.png')
				no-repeat;
			background-position: 13px;
		}

		.form-modal-header-title {
			margin-left: 15px;
			margin-right: 8px;
		}

		.change-type-link {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.general-infos-block {
		.name-references-image {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.name-references {
				width: 350px;
			}

			.image {
				width: 120px;
				height: 120px;
				margin-right: 15px;
				border: 1px solid #000;
			}

			input[type='file'] {
				display: none;
			}
		}
	}

	.stock-quantity-block {
		padding-left: 15px;
		padding-right: 15px;

		h3,
		span {
			font-size: 14px;
		}

		span {
			color: #0077c5;
		}

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;

			// &:first-child {
			//    width: ;
			// }

			div {
				display: flex;
				flex-direction: column;
				align-items: start;
			}
		}
	}

	.description-block,
	.infos-achat-block {
		.price {
			display: flex;
			justify-content: space-between;

			& > * {
				width: 48%;
			}
		}
	}

	.infos-achat-block {
		padding: 15px 0;

		p {
			margin-bottom: 12px;
			font-weight: bold;
		}
	}

	.save-create-btn-wrapper {
		position: fixed;
		right: 50px;
		bottom: 40px;
		z-index: 20;
	}

	.form-modal-footer {
		position: fixed;
		bottom: 0;
		left: calc(100% - 550px);
		right: 0;
		display: flex;
		justify-content: end;
		background: #fff;
		border-top: 4px solid #f4f5f8;
		padding: 10px 20px;

		.submit-btn-wrapper {
			display: flex;
		}
	}
}
