.page-list-item-row {
	display: flex;
	align-items: center;
	font-size: 14px;
	border-bottom: 1px solid #5c5c5c1d;

	a:hover {
		text-decoration: underline;
	}

	&:hover {
		background-color: #bdbdbd1d;
	}

	& > * {
		padding: 15px;
		flex: 1;
	}

	input[type='checkbox'] {
		width: 20px;
		height: 20px;
		border: 1px solid #8d9096;
		border-radius: 2px;
	}

	.field-check {
		flex: 0.2;
	}

	.field-customer-info {
		.name-info {
			display: flex;
			align-items: center;
			color: #393a3d;

			.email-icon {
				display: flex;
				align-items: center;
				margin-left: 15px;
				color: #8d9096;
				cursor: pointer;
			}
		}

		.display-company {
			font-size: 12px;
			color: #8d9096;
			margin-top: 5px;
		}
	}

	.field-action {
		display: flex;
		align-items: center;
		position: relative;

		.other-actions {
			display: flex;
			align-items: center;
			margin-left: 5px;
			cursor: pointer;
		}

		.field-action-options {
			position: absolute;
			top: 40px;
			z-index: 4;
		}
	}
}
